.project-img{
    width: 100%;
    height:20%;  
}
.project-img>img{
    width: 100%;
    pointer-events: none;
}
.project{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.prj-slider{
    display: flex;
    justify-content:space-around;
    width: 100% !important;
}

.prj-info{
    width: 100%;
}






