.animation-name{
    animation: floating-anm 1s ease-in-out both;
    animation-timeline: view(80% 0%);
    
}
@keyframes floating-anm {
    0%{   
        opacity: 0;  
    }
    100%{
        opacity: 1;    
    }
    
}