.timeline{
    height: 100%;
    width: 30%;
    position:absolute;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    z-index: 10;
    overflow: hidden;
}

.vl{
    position: relative;
    margin: 0;
    padding: 0;
    height: -webkit-fill-available;
    width: 0%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dot{
    border-radius: 100%;
    border: 6px solid cyan;
    display: flex;
    /* justify-content:flex-end; */
    align-items: center;
    
    position: relative;
}
.direction{
    position: absolute;
    width: 221px;
    border: 1px solid wheat ;

}