@import "tailwindcss";

/* html,body{
  margin: 0;
  padding: 0;
  height: 100%;
} */

:root {
--background-color: #ffffff !important;
--text-color: #000000 !important;
}

html {
  scroll-behavior: smooth;
}


body{
  background: #ffffff;
  color: #141514;
}

