@import "tailwindcss";

/* html,body{
  margin: 0;
  padding: 0;
  height: 100%;
} */

/* :root {
--background-color: #ffffff !important;
--text-color: #000000 !important;
} */

html {
  scroll-behavior: smooth;
}
:root {
   --background-color: #000000;
   --text-color: #131212;
}


body {
   background-color: var(--background-color);
   color: var(--text-color);
}

